{% extends 'base.html' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span10 offset1">
             <h1>{{ page.title }}</h1>
             {{ page.body|safe }}
        </div>
	{% if page.rel_gallery_parent.all %}
		<div class="span10 offset1">
			<div id='gallery' class='gallery-set'>
				<ul>
			{% for item in page.rel_gallery_parent.all %}
					<li>
					<a href='{{ item.img.url }}'>
						<img src='{{ item.img.url }}' width='100'>
					</a>
					</li>
			{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
    </div>
{% endblock %}
