{% extends 'base.html' %}

{% block title %}
Галерея
{% endblock %}

{% block script_top %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.galleriffic.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.opacityrollover.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span10 offset1">
        <div id="controls"></div>
        <div id="loading"></div>
        <div id="slideshow"></div>
        <div id="caption"></div>
        <div id="thumbs">
            <ul class="thumbs noscript">
            {% for item in gallery_set %}
                <li>
                    <a class="thumb" name="{{ item.name }}" href="{{ item.img.url }}" title="{{ item.title }}">
                        <img width="75" height='75' src="{{ item.thumb.url }}" alt="{{ item.alt }}" />
                    </a>
                    <div class="caption">
                        <p>
                            {{ item.caption }}
                        </p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
            jQuery(document).ready(function($) {
                            // We only want these styles applied when javascript is enabled
                            $('div.navigation').css({'width' : '300px', 'float' : 'left'});
                            $('div.content').css('display', 'block');
                            // Initially set opacity on thumbs and add
                            // additional styling for hover effect on thumbs
                            var onMouseOutOpacity = 0.67;
                            $('#thumbs ul.thumbs li').opacityrollover({
                            mouseOutOpacity:   onMouseOutOpacity,
                            mouseOverOpacity:  1.0,
                            fadeSpeed:         'fast',
                            exemptionSelector: '.selected'
                            });
                            
                           // Initialize Advanced Galleriffic Gallery
                           var gallery = $('#thumbs').galleriffic({
                           delay:                     2500,
                           numThumbs:                 15,
                           preloadAhead:              10,
                           enableTopPager:            true,
                           enableBottomPager:         true,
                           maxPagesToShow:            7,
                           imageContainerSel:         '#slideshow',
                           controlsContainerSel:      '#controls',
                           captionContainerSel:       '#caption',
                           loadingContainerSel:       '#loading',
                           renderSSControls:          true,
                           renderNavControls:         true,
                           playLinkText:              'Play Slideshow',
                           pauseLinkText:             'Pause Slideshow',
                           prevLinkText:              '&lsaquo; Previous Photo',
                           nextLinkText:              'Next Photo &rsaquo;',
                           nextPageLinkText:          'Next &rsaquo;',
                           prevPageLinkText:          '&lsaquo; Prev',
                           enableHistory:             false,
                           autoStart:                 false,
                           syncTransitions:           true,
                           defaultTransitionDuration: 900,
                           onSlideChange:             function(prevIndex, nextIndex) {
                           // 'this' refers to the gallery, which is an extension of $('#thumbs')
                           this.find('ul.thumbs').children()
                           .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                           .eq(nextIndex).fadeTo('fast', 1.0);
                           },
                           onPageTransitionOut:       function(callback) {
                           this.fadeTo('fast', 0.0, callback);
                           },
                           onPageTransitionIn:        function() {
                           this.fadeTo('fast', 1.0);
                           }
                           });
                           });
                           </script>
{% endblock %}
