<div class='span4 green padding_menu'>
    <div class="menu_wrop">
        <ul class='menu'>
            {% for item in menu_items %}
                <li>
                    {% if item.url == 'main' %}
                    <a href="/">{{ item.menu_title }}</a>
                    {% else %}
                    <a href="/{{ item.url }}/">{{ item.menu_title }}</a>
                    {% endif %}
                    {% if item.rel_childs.all %}
                        <ul class='hide'>
                            {% for child in item.rel_childs.all %}
                                {% if child.menu_active %}
                                    <li><a href="/{{ child.url }}/">{{ child.menu_title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="span2 padding_menu">
    <div class="menu_mail align_right">
        <a href="{% url contact_mail %}">Написать нам</a>
    </div>
</div>