<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        {% for item in slider_for_all %}
            {% if item.active %}
                <img src="{{ item.img.url }}"  alt="{{ item.alt }}" title="{{ item.decs }}" />
            {% endif %}
        {% endfor %}
        {% for item in slider_for_page %}
            {% if item.active %}
                <img src="{{ item.img.url }}"  alt="{{ item.alt }}" title="{{ item.decs }}" />
            {% endif %}
        {% endfor %}
{#        <img src="images/1.jpg"  alt="" title="Сюда можно вставить описание" />#}
{#        <img src="images/4.jpg" alt=""  />#}
{#        <img src="images/2.jpg"  alt="" title="Сюда можно вставить описание" data-transition="slideInLeft" />#}
{#        <img src="images/3.jpg"  alt=""  />#}
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
{#        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.#}
    </div>
</div>